body {
  background-color: #f5f6fa;
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  background-color: #e9ecef;
  border-radius: 5px;
}

.nav-link.active {
  background-color: #212529;
  color: white !important;
  border-radius: 5px;
}